
/* Primary color theme */
:root {
    --accent-color: hsl(215.25, 67.8%, 23.14%);
    --accent-color-contrast: hsl(0, 0%, 55%);

    --background-color: hsl(220, 40.24%, 32.16%);
    --background-color-contrast: hsl(216.35deg 100% 67.04%);
    --background-color-contrast-more: hsl(0deg 0% 0%);
    --background-color-graph: hsl(215.25, 67.8%, 23.14%);
    
    --background-color-inputs: hsl(216.35deg 6.62% 47.54% / 24%);
    
    --font-color-primary: hsl(47.5deg 52.17% 90.98%);
    --font-color-secondary: hsl(38.12, 38.12%, 56.27%);
    --font-color-inputs: hsl(47.5deg 52.17% 90.98%);
    
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: monospace;
    
    --scrollbar-color: 255,255,255;
    --scrollbar-accent: 0,0,0;
    
    --header-color: hsl(38.12, 38.12%, 56.27%);
    --header-links-color: hsl(215.25, 67.8%, 23.14%);
    --header-menu-icon-color: hsl(0, 0%, 100%);
    
    --logo-filter: none;
    --svg-filter: none;
}

body.dark-mode {
    --accent-color: hsl(0, 0%, 100%);
    --accent-color-contrast: hsl(0, 0%, 50%);

    --background-color: hsl(0, 0%, 6%);
    --background-color-contrast: hsl(0, 0%, 15%);
    --background-color-contrast-more: hsl(0, 0%, 30%);
    --background-color-graph: hsl(0, 0%, 8%);

    --background-color-inputs: hsl(0, 0%, 15%);

    --font-color-primary: hsl(0, 0%, 80%);
    --font-color-secondary: hsl(0, 0%, 0%);
    --font-color-inputs: hsl(0, 0%, 60%);

    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: monospace;

    --scrollbar-color: 0,0,0;
    --scrollbar-accent: 255,255,255;

    --header-color: hsl(0, 0%, 0%);
    --header-links-color: hsl(0, 0%, 100%);
    --header-menu-icon-color: hsl(0, 0%, 100%);
    
    --logo-filter: invert(1.0);
    --svg-filter: invert(1);
}
